.btn {
  aspect-ratio: 1 / 1;
  padding: 0;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.btn.active {
  background-color: #81e6d9;
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: #c5f1ff;
}
